.upper-section {
    display: flex;
    padding: 0;
    gap: 0 2.5em;
    margin: 4em 2rem;
}

.alt-images-section {
    display: flex;
    flex-direction: column;
    max-height: 600px;
    max-width: 400px;
    overflow-x: visible;
    overflow-y: scroll;
    gap: 2.5em 0;
}

.alt-item-image {
    height: 7.5em;
    aspect-ratio: 1;
    border-radius: 8px;
}

.item-image {
    aspect-ratio: 1;
    border-radius: 8px;
    height: 600px;
}

.action-section {
    display: flex;
    gap: 0 23px;
    margin-top: 43px;
}

.add-to-cart-button {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    flex: 1;
    border-radius: 4px;
}

.add-to-cart-button:hover {
    background-color: black;
    color: white;
}

.share-section {
    display: flex;
    gap: 0 24px;
    margin-top: 80px;
}

